---
permalink: "assets/scripts/bundle.js"
---

{# capture the JS content as a Nunjucks variable #}
{% set js %}
    {% include "src/includes/scripts/polyfill.js" %}
    {% include "src/includes/scripts/nav-toggle.js" %}
    {% include "src/includes/scripts/settings-highlight-theme.js" %}
    {% include "src/includes/scripts/settings-color-scheme.js" %}
    {% include "src/includes/scripts/register-service-worker.js" %}
    {% include "src/includes/scripts/offline.js" %}
    {% include "src/includes/scripts/copy-snippet.js" %}
    {% include "src/includes/scripts/site.js" %}
{% endset %}

{# feed it through our cssmin filter to minify #}
{{ js | jsmin | safe }}
