---
permalink: "assets/styles/bundle.css"
---

{# capture the CSS content as a Nunjucks variable #}
{% set css %}
    {% include "src/includes/styles/fonts.css" %}
    {% include "src/includes/styles/styles.css" %}
    {% include "src/includes/styles/dark.css" %}
    {% include "src/includes/styles/hljs.css" %}
{% endset %}

{# feed it through our cssmin filter to minify #}
{{ css | cssmin | safe }}
{% tweetStyles %}
